/* CSS Document */
body { padding:0px; margin:0px;}
div { padding:0px; margin:0px; font-size:12px;}
img { border:none;}
ul,li { list-style:none; padding:0px; margin:0px;}
a { text-decoration:none;}
.top { margin:0px auto; width:100%; height:80px;background:url(../images/mbg.jpg);}
.top_l { float:left; width:180px; height:70px; background:url(../images/bg.jpg) repeat; padding-top:10px;}
.top_m { float:left; width:auto; height:70px; background:url(../images/mbg.jpg) repeat; padding-top:10px;}
.top_m ul { margin:0 auto; width:auto; margin-top:5px;}
.top_m ul li { float:left; padding-right:0px; padding-left:7px;display:inline;}
.top_m ul li img { height:55px; width:70px;}
.top_r { float:right; width:170px; height:80px; background-color:#00C1DC;}
.top_r_t { float:left;width:170px;  height:60px; text-align:right; color:#FFFFFF; margin-top:10px; height:25px; display:inline;line-height:24px;}
.top_r_m { float:left; width:170px; text-align:right; color:#FFFFFF; padding-right:10px;display:inline;}
.top_r_b { float:left; width:170px; text-align:right; }
.top_r_b p{text-align:right;}
.top_r_b a { color:#FFFFFF;}
.top_r_b a:hover{color:#F00;}
.middle { margin:0px auto; width:100%; height:auto;}
.middle_l { float:left; width:180px; height:auto;}
.middle_r { float:left; width:auto; height:auto; border-bottom:0px #CCCCCC solid; border-right:0px #CCCCCC solid;}
.caidan dl,.caidan dt,.caidan dd{
 padding:0;
 margin:0;
}
.caidan{
 width:180px;
 background: url(../images/bg.jpg) repeat;
}
.caidan dl{
 width:180px;
 height:auto;
 overflow:hidden;
 border-top:1px #484E4E solid;
 border-bottom:1px #0D0D0F solid;
}
.caidan dt{
 height:29px;
 font-size:13px;
 color: #FFFFFF;
 cursor:pointer;
 text-align: right;
 padding:10px 30px 0px 0px;
 background:#3D3D3D;
}
.caidan dl.on dt{
 background:url(../images/menu_on.jpg) right;
 color: #FFFFFF;
 font-weight:bold;
 text-shadow:3px 3px 3px #333;
}
.caidan dd{
 font-size:13px;
 padding:0px 30px 0px 0px;
 text-align:right;
}
.caidan dd ul li{ list-style:none; height:21px; padding-top:5px;}
.caidan dd ul li a{ color:#D2691E; text-decoration:none;}
.caidan dd ul li a:hover{color: #FFF}
.curday {font-size:15px;color:#FFFFFF;font-weight:bold;}
.curday a:link{font-size:15px;color:#FFFFFF;font-weight:bold;text-shadow:2px 2px 2px #999;}
.curday a:hover{font-size:15px;color:#FFFFFF;font-weight:bold;}
.curday a:active{font-size:15px;color:#FFFFFF;font-weight:bold;}
.curday a:visited{font-size:15px;color:#FFFFFF;font-weight:bold;}

/*�������˵�*/
#menua{height:35px;position:relative; left:0px; top:0px; padding-left:0px; background-color:#EBEBEB;border-radius:0 10px 10px 0; }
#menua ul{padding:0;border:0;list-style:none;line-height:150%;margin-top: 0;margin-right: 0;margin-bottom: 0;margin-left: 0px;}
#nava{padding-left:0px;}
#nava li{float:left;height:35px;}
#nava li a{float:left;display:block;padding-left:0px;height:35px;cursor:pointer;text-decoration:none;}
#nava li a span{float:left;padding:10px 24px 10px 24px;line-height:14px;font-size:14px;font-weight:bold;color: #333333;text-decoration:none;}
#nava li .nava_on{   /*���꾭��ʱ�任����������JS��ȡ��ʽ*/ background:url(../images/menu1_bg.jpg) repeat-x bottom;}
#nava li .nava_on span{  /*���꾭��ʱ�任����������JS��ȡ��ʽ*/background-position:right 100%;color: #990000;text-decoration:none;	padding:10px 24px 10px 24px;}
/*����Ŀ*/
#menua_con{text-align:left;clear:both;}
#menua_con li{float:left;height:22px; padding-top:8px;}
#menua_con li a{display:block;float:left;background:url('../images/menu_on_left2.gif') no-repeat left top;cursor:pointer;padding-left:3px;}
#menua_con li a span{float:left;	padding:6px 10px 4px 10px;	line-height:12px;background:url('../images/menu_on_right2.gif') no-repeat right top;}
#menua_con li a:hover{text-decoration:none;background:url('../images/menu_on_left2.gif') no-repeat left bottom;}
#menua_con li a:hover span{	background:url('../images/menu_on_right2.gif') no-repeat right bottom;}
/*����Ŀλ�� */
#qha_con0 { position:absolute;top:35px;left: 2px; padding-top:15px;}
#qha_con1 { position:absolute;top:35px;left: 2px; padding-top:20px;}
#qha_con2 { position:absolute;top:35px;left: 2px; padding-top:20px;}
#qha_con3 { position:absolute;top:35px;left: 2px; padding-top:20px;}
#qha_con4 { position:absolute;top:35px;left: 2px; padding-top:20px;}

.zy_l { float:left; width:680px; border:1px #CCCCCC solid; height:430px;}
.zy_l ul li { border-bottom:1px #CCCCCC solid;}
.zy_l_title { float:left; width:97px;  text-align:center; font-weight:bold;}
.zy_l_body { float:left; width:97px;  text-align:center;}
.zy_r { float:left; width:200px; border:1px #CCCCCC solid; height:430px; margin-left:10px;}
.zy_r_body { float:left; padding:10px 0px 0px 20px; height:40px;}
.zy_r_body select { width:120px;}

.overlay{
  display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	opacity:0.2;
	filter: alpha(opacity=20);
	position:fixed;
	overflow:hidden;
}

.load {
	display: none;
	position: absolute;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 20%;
	z-index: 1002;
	text-align:center;
	position:fixed;
}

.black_overlay{
  display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
	position:fixed;
	overflow:hidden;
}

.white_content7 {
  display: none;
	padding:5px 10px 5px 10px;
	position:fixed;
	top: 25%;
	left: 35%;
	width: 30%;
	height: auto;
  border:7px #535353 solid;
	background-color:#e6e6e6;
	z-index:1005;
	overflow:hidden;
	text-align:left;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content8 {
  display: none;
	padding:5px 10px 5px 10px;
	position:fixed;
	top: 80px;
	right: 0%;
	width: 210px;
	height: auto;
  border:7px #535353 solid;
	background-color:#e6e6e6;
	z-index:1005;
	overflow:hidden;
	text-align:left;
	border-radius:10px 0 0 10px;
	box-shadow:5px 5px 5px #333;
}

.white_content9 {
  display: none;
	padding:5px 10px 5px 10px;
	position:fixed;
	top: 80px;
	left: 300px;
	width: 550px;
	height: auto;
  border:5px #535353 solid;
	background-color:#e6e6e6;
	z-index:1005;
	overflow:hidden;
	text-align:left;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content10 {
  display: none;
	padding:5px 10px 5px 10px;
	position:absolute;
	top: 1%;
	left: 10%;
	width: 80%;
	height: auto;
  border:1px #535353 solid;
	background-color:#FFF;
	z-index:1006;
	overflow:hidden;
	text-align:left;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content11 {
  display: none;
	padding:5px 10px 5px 10px;
	position:fixed;
	top: 5%;
	left: 60%;
	width: 35%;
	height: auto;
  border:3px #999 solid;
	background-color:#FFF;
	z-index:1007;
	overflow:hidden;
	text-align:left;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content12 {
  display: none;
	padding:5px 5px 10px 5px;
	position:absolute;
	top: 2%;
	left: 9%;
	width: 80%;
	height: auto;
  border:4px #CCC solid;
	background-color:#EEE;
	z-index:1007;
	overflow:hidden;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content13 {
  display: none;
	padding:5px 10px 5px 10px;
	position:fixed;
	top: 80px;
	left: 300px;
	width: 550px;
	height: auto;
  border:5px #535353 solid;
	background-color:#e6e6e6;
	z-index:1005;
	overflow:hidden;
	text-align:left;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content14 {
  display: none;
	padding:5px 10px 5px 10px;
	position:absolute;
	top: 80px;
	left: 35%;
	width: 45%;
	height: auto;
  border:5px #535353 solid;
	background-color:#e6e6e6;
	z-index:1005;
	overflow:hidden;
	text-align:left;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content15 {
  display: none;
	padding:5px 10px 5px 10px;
	position:absolute;
	top: 20%;
	left: 25%;
	width: 50%;
	height: auto;
  border:1px #535353 solid;
  background-color:#eeeeee;
	z-index:1006;
	overflow:hidden;
	text-align:left;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content16 {
  display: none;
	padding:5px 10px 5px 10px;
	position:absolute;
	top: 3%;
	left: 5%;
	width: 90%;
	height: auto;
  border:4px #535353 solid;
	background-color:#eee;
	z-index:1005;
	overflow:hidden;
	text-align:left;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

.white_content17 {
  display: none;
	padding:5px 5px 10px 5px;
	position:absolute;
	top: 2%;
	left: 2%;
	width: 95%;
	height: auto;
  border:4px #CCC solid;
	background-color:#EEE;
	z-index:1007;
	overflow:hidden;
	border-radius:10px;
	box-shadow:5px 5px 5px #333;
}

#ul1 li{margin:0; padding:0; list-style:none;}
#ul1 {margin:0;padding:0;}
#ul1 ul{margin:0; padding:0;display:none;}
#ul1 ul li{background:#DDF;color:#000;margin-top:2px;padding:2px 0 2px 10px;font-size:12px;position:relative;}
#ul1 ul li:hover{ background:#CCF;}
#ul1 h2{margin:4px 0px 0px 0px;background:#CCC; color:#000;font-size:14px;font-family:Microsoft YaHei; padding:2px 0px 2px 6px; font-weight:normal;}
#ul1 h2:hover{background:#999;}
#ul1 ul li div{display:none;}

.time-item strong{
	background:#C71C60;
	color:#fff;
	line-height:49px;
	font-size:36px;
	font-family:Arial;
	padding:0 10px;
	margin-right:10px;
	border-radius:5px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
}