@charset "utf-8";
/* CSS Document */


/*���б��񹫹���ʽ  */
/*body{ margin:0; padding:0;}*/
.name{ height:30px; padding:0; margin:0 auto;  text-align:center; margin-bottom:5px;}
.name div{  height:30px; line-height:30px; background:#CCC; float:left;border:1px solid #666; font-size:16px; color:#006;border-radius:8px;}
.grid{ margin:0; padding:0;}
.grid li{float:left;list-style: none;width:108px;height:78px;border:1px solid #000;background:#eee;text-align:center; margin:0; padding:0; margin:5px 0;border-radius:8px;}
.grid li .student{height:78px;width:108px;line-height: 78px;text-align: center;font-size:14px;border-radius:8px;box-shadow:3px 3px 3px #999;text-shadow:3px 3px 3px #CCC;/* position:relative;*/}
.grid li .student .spn{ margin:0; padding:0; width:20px; height:20px; display:block; position:relative; top:0;right:10px;}
.grid li .student .spn:hover{cursor:pointer;}
/*������ʾС���ڵ�ul-li*/
#ul-list1{ margin:0; padding:0;z-index:9999;}
.ul-li{ list-style:none; margin:0; padding:0;}
/*����У����λ��*/

.table46{width:970px;margin:0 auto;overflow: hidden;}
.table46 .name{ width:970px;}
.table46 .name div{ width:483px;}
.table46 .grid .floor{ margin-left:45px;}
.table46 .grid .floor2{ margin-left:90px;}
.table46 .grid .floor3{ margin-left:99px;}
.table46 .grid li.teacher{width:218px; height:78px; line-height:78px; color:#000; background:#6495ED; float:left; margin-left:45px;color:#000; font-size: 16px; font-weight: bold;}
.table46 .footer{ width:970px; height:50px; margin:0 auto; margin-top:5px;}
.footer p{float:left;text-align:center;height:48px; margin:0; padding:0; line-height:48px; background:#E0FFFF; font-size:16px;font-weight: bold; display:inline-block;}
.table46 .footer .p1{width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;color:#000;}
.table46 .footer .p2{width:530px;border-bottom:1px #000 solid;border-top:1px #000 solid;color:#000;}
.table46 .footer .teacher{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}
.table46 .footer .teacher3{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}
.table46 .footer .p4{width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-right:1px #000 solid;color:#000;}
.table46 .footer .teacher4{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-left:1px solid;color:#000; font-size: 16px; font-weight: bold;}

/*�հ�li*/
.grid li.empty{border:none;width:110px;background:none;}

.yanqi{width:1100px;margin:0 auto;overflow: hidden;}
.yanqi .name{ width:1100px;}
.yanqi .grid .floor{ margin-left:1100px;}
.yanqi .name div{ width:548px;}
.yanqi .grid .floor{ margin-left:110px;}
.yanqi .footer{ width:1100px; height:50px; margin:0 auto; margin-top:5px;}
.yanqi .footer .p1{width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;color:#000;}
.yanqi .footer .p2{width:660px;border-bottom:1px #000 solid;border-top:1px #000 solid;color:#000;}
.yanqi .footer .teacher3{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px #000 solid; border-right:1px #000 solid;color:#000; font-size: 16px; font-weight: bold;}

/*����58*/
.index58{width:1120px;margin:0 auto;overflow: hidden;}
.index58 .name{ width:1120px; margin-bottom:5px;}
.index58 .name div{ width:558px;}
.index58 .grid li{width: 98px;height: 78px;}
.index58 .grid div{width: 98px;height: 78px;}
.index58 .grid .floor{ margin-left:30px;}
.index58 .grid .floor2{ margin-left:60px;}
.index58 .grid .floor3{ margin-left:110px;}
.index58 .footer{ width:1120px; height:50px; margin:0 auto; margin-top:5px;}
.index58 .footer .p3{width:199px; border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;color:#000;}
.index58 .footer .p4{width:720px; border-bottom:1px #000 solid;border-top:1px #000 solid;color:#000;}
.index58 .footer .p5{width:199px; border-top:1px #000 solid;border-bottom:1px #000 solid; border-right:1px #000 solid;color:#000;}
.index58 .footer .teacher2{width:199px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}
.index58 .footer .teacher3{width:199px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-left:1px solid;color:#000; font-size: 16px; font-weight: bold;}
/*����58*/

/*����80*/
.index80{width:1175px;margin:0 auto;overflow: hidden;}
.index80 .name{ width:1175px; margin-bottom:5px;}
.index80 .name div{ width:558px;}
.index80 .grid li{width: 66px;height: 78px;}
.index80 .grid div{width: 66px;height: 78px;}
.index80 .grid .floor{ margin-left:12px;}
.index80 .footer{ width:1175px; height:50px; margin:0 auto; margin-top:5px;}
.index80 .footer .p3{width:199px; border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;color:#000;}
.index80 .footer .p4{width:775px; border-bottom:1px #000 solid;border-top:1px #000 solid;color:#000;}
.index80 .footer .p5{width:199px; border-top:1px #000 solid;border-bottom:1px #000 solid; border-right:1px #000 solid;color:#000;}
.index80 .footer .teacher2{width:199px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}
.index80 .footer .teacher3{width:199px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-left:1px solid;color:#000; font-size: 16px; font-weight: bold;}
/*����80*/

/*����47��*/
.beijing47{width:1000px;}
.beijing47 .name{ width:1000px;}
.beijing47 .name div{ width:498px;}
.beijing47 .grid .floor{ margin-left:40px;}
.beijing47 .footer{ width:1000px;}
.beijing47 .footer .p2{width:560px;}
/*����47��*/

/*����50��*/
.beijing50{width:1080px;}
.beijing50 .name{ width:1080px;}
.beijing50 .name div{ width:538px;}
.beijing50 .footer{ width:1080px;}
.beijing50 .footer .p1{width:329px;}
.beijing50 .footer .p2{width:530px;}
/*����50��*/

/*��ʼ֣��30������Css��ʽ*/
.table30{width:750px;margin:0 auto;overflow: hidden;}
.table30 .name{ width:750px; margin-bottom:5px;}
.table30 .name div{ width:373px;}
.table30 .grid .floor{ margin-left:45px;}
.table30 .footer{ width:750px; height:50px; margin:0 auto; margin-top:5px;}
.table30 .footer .p5{width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;color:#000;}
.table30 .footer .p6{width:310px;border-bottom:1px solid;border-top:1px solid;color:#000;}
.table30 .footer .teacher3{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}

/*����֣��30������Css��ʽ*/

/*��ʼ֣��38������Css��ʽ*/
.table38 .footer .p7{ border-left:none; border-right:1px solid; }
/*��ʼ֣��38������Css��ʽ*/

/*�Ϻ�40*/
.shanghai40{width:1030px;margin:0 auto;overflow: hidden;margin-top:30px;}
.shanghai40 .name{ width:1030px; margin-bottom:10px;}
.shanghai40 .name .banji{ width:498px;}
.shanghai40 .name .banzhuren{ width:528px;}
.shanghai40 .grid li{width: 98px;height: 78px;}
.shanghai40 .grid div{width: 98px;height: 78px;}
.shanghai40 .grid .floor{ margin-left:30px;}
.shanghai40 .footer{ width:1030px; height:50px; margin:0 auto;margin-top:10px; color:#000;}
.shanghai40 .footer .p3{width:199px; border-top:1px #000 solid;border-bottom:1px #000 solid;border-right:1px #000 solid;}
.shanghai40 .footer .p4{width:630px; border-bottom:1px #000 solid;border-top:1px #000 solid;}
.shanghai40 .footer .teacher2{width:199px;background:#6495ED;border-bottom:1px solid;border-top:1px solid;  border-left:1px solid;color:#000; font-size: 16px; font-weight: bold;}
/*�Ϻ�40*/

/*��ʼ�Ϻ�28������Css��ʽ*/
.shanghai28{width:705px;margin:0 auto;overflow: hidden;}
.shanghai28 .name{ width:705px; margin-bottom:5px;}
.shanghai28 .name .banji{ width:373px;}
.shanghai28 .name .banzhuren{ width:328px;}
.shanghai28 .grid .floor{ margin-left:45px;}
.shanghai28 .footer{ width:750px; height:50px; margin:0 auto; margin-top:5px; color:#000;}
.shanghai28 .footer .p5{width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;}
.shanghai28 .footer .p6{width:265px;border-bottom:1px #000 solid;border-top:1px #000 solid;}
.shanghai28 .footer .teacher3{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}
/*�����Ϻ�28������Css��ʽ*/

/*֣��45*/
.zhengzhou45{width:1080px;}
.zhengzhou45 .name{ width:1080px;}
.zhengzhou45 .name div{ width:538px;}
.zhengzhou45 .footer{ width:1080px;}
.zhengzhou45 .footer .p2{width:640px;}

/*֣��40 , 42 , 44 , 51*/
.zhengzhou40{width:860px;}
.zhengzhou40 .name{ width:860px;}
.zhengzhou40 .name div{ width:428px;}
.zhengzhou40 .footer{ width:860px;}
.zhengzhou40 .footer .p2{width:420px;}
/*֣��40 , 42 , 44 , 51*/

/*֣��54*/
.zhengzhou54{width:1190px;}
.zhengzhou54 .name{ width:1190px;}
.zhengzhou54 .name div{ width:593px;}
.zhengzhou54 .footer{ width:1190px;}
.zhengzhou54 .footer .p2{width:530px;}
.zhengzhou54 .footer .p1{width:329px;border-left:0;}
.zhengzhou54 .footer .teacher3{width:329px;}
/*֣��54*/

/*֣��56*/
.zhengzhou56{width:1220px;}
.zhengzhou56 .name{ width:1220px;}
.zhengzhou56 .name div{ width:608px;}
.zhengzhou56 .grid .floor{ margin-left:40px;}
.zhengzhou56 .footer{ width:1220px;}
.zhengzhou56 .footer .p2{width:780px;}

.zhengzhou .footer .p1{border-left:0;border-right:1px solid;}
.zhengzhou .footer .teacher3{border-left:1px solid;border-right:0;}
/*֣��56*/

/*֣��57new*/
.zhengzhou57{width:1098px;}
.zhengzhou57 .name{ width:1098px;}
.zhengzhou57 .name div{ width:545px;}
.zhengzhou57 .grid li{width: 82px;height: 78px;}
.zhengzhou57 .grid div{width: 82px;height: 78px;}
.zhengzhou57 .grid .floor{ margin-left:84px;}
.zhengzhou57 .footer{ width:1098px;}
.zhengzhou57 .footer .p2{width:658px;}
.zhengzhou57 .footer .p1{border-left:0;border-right:1px solid;}
.zhengzhou57 .footer .teacher3{border-left:1px solid;border-right:0;}
.zhengzhou57 .footer .p7{color:#000;width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;}
.zhengzhou57 .footer .teacher4{width:218px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}
/*֣��57new*/

/*֣��49-��ʮ*/
.zhengzhou49 .floor1{ margin-left:220px;}
.zhengzhou49 .floor{ margin-left:50px;}
.zhengzhou49{width:1040px;}
.zhengzhou49 .name{ width:1040px;}
.zhengzhou49 .name div{ width:516px;}
.zhengzhou49 .footer{ width:1040px;}
.zhengzhou49 .teacher3{ width:219px;border-left:1px solid;border-right:0;}
.zhengzhou49 .footer .p2{ width:600px;}
.zhengzhou49 .footer .p1{width:215px;}
/*֣��49-��ʮ*/

/*�Ϻ���ʦ���Ҳ�*/
.shanghai .footer .p3{border-left:1px solid;border-right:0;}
.shanghai .footer .teacher2{border-left:0;border-right:1px solid;}
/*�Ϻ���ʦ���Ҳ�*/

/*��ʼ�Ϻ�28������Css��ʽ*/
.shanghai28{width:750px;}
.shanghai28 .name{ width:750px;}
.shanghai28 .name div{ width:373px;}
.shanghai28 .grid .floor{ margin-left:45px;}
.shanghai28 .footer{ width:750px;}
.shanghai28 .footer .p6{width:310px;}
/*��ʼ�Ϻ�28������Css��ʽ*/

/*��ʼ�Ϻ�43������Css��ʽ*/
.shanghai43{width:940px;}
.shanghai43 .name{ width:940px;}
.shanghai43 .name .banji{width:438px;}
.shanghai43 .name .banzhuren{ width:498px;}
.shanghai43 .grid .floor{ margin-left:40px;}
.shanghai43 .footer{ width:940px;}
.shanghai43 .footer .p4{width:540px;}

/*��ʼ�Ϻ�26������Css��ʽ*/
.shanghai26{width:705px;margin:0 auto;overflow: hidden;}
.shanghai26 .name{ width:705px; margin-bottom:5px;}
.shanghai26 .name .banji{ width:329px;}
.shanghai26 .name .banzhuren{ width:372px;}
.shanghai26 .grid .floor{ margin-left:45px;}
.shanghai26 .footer{ width:705px; height:50px; margin:0 auto; margin-top:5px;color:#000;}
.shanghai26 .footer .p5{width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;}
.shanghai26 .footer .p6{width:265px;border-bottom:1px #000 solid;border-top:1px #000 solid;}
.shanghai26 .footer .teacher3{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}
/*�����Ϻ�26������Css��ʽ*/

/*����52*/
.guangzhou52{width:1060px;}
.guangzhou52 .name{ width:1060px;}
.guangzhou52 .name div{ width:528px;}
.guangzhou52 .grid li{width: 98px;height: 78px;}
.guangzhou52 .grid div{width: 98px;height: 78px;}
.guangzhou52 .grid .floor{ margin-left:30px;}
.guangzhou52 .footer{ width:1060px;}
.guangzhou52 .footer .p1{width:399px;}
.guangzhou52 .footer .p2{width:460px;}
.guangzhou52 .footer .teacher3{width:199px;}
/*����52*/

/*������¥��ʮ����47��*/
.beijing47-6F-yan16{width:880px;}
.beijing47-6F-yan16 .name{ width:880px;}
.beijing47-6F-yan16 .name div{ width:428px;}
.beijing47-6F-yan16 .grid .floor{ margin-left:100px;}
.beijing47-6F-yan16 .footer{ width:880px;}
.beijing47-6F-yan16 .footer .p2{width:420px;}
/*��ʮ���װ��ͽ�ʦ�߿�����*/
.beijing47-6F-yan16 .footer .p1{ border-left:none; border-right:1px solid #000;}
.beijing47-6F-yan16 .footer .teacher3{width:219px; border-right:none; border-left:1px solid #000;}

/*������¥��ʮ�š�47��*/
.beijing47-6F-yan19{width:880px;}
.beijing47-6F-yan19 .name{ width:880px;}
.beijing47-6F-yan19 .name div{ width:428px;}
.beijing47-6F-yan19 .grid .floor{ margin-left:100px;}
.beijing47-6F-yan19 .footer{ width:880px;}
.beijing47-6F-yan19 .footer .p2{width:420px;}
/*��ʮ���װ��ͽ�ʦ�߿�����*/
.beijing47-6F-yan19 .footer .p1{ border-right:none; border-left:1px solid #000;}
.beijing47-6F-yan19 .footer .teacher3{width:219px; border-left:none; border-right:1px solid #000;}

/*������¥��ʮ��-59��*/
.beijing59-6F-yan18{width:1030px;}
.beijing59-6F-yan18 .name{ width:1030px;}
.beijing59-6F-yan18 .name div{ width:513px;}
.beijing59-6F-yan18 .grid .floor{ margin-left:50px;}
.beijing59-6F-yan18 .footer{ width:1030px;}
.beijing59-6F-yan18 .footer .p2{width:590px;}
/*��ʮ���װ��ͽ�ʦ�߿�����*/
.beijing59-6F-yan18 .footer .p1{ border-left:none; border-right:1px solid #000;}
.beijing59-6F-yan18 .footer .teacher3{width:219px; border-right:none; border-left:1px solid #000;}

/*������¥��ʮ��-47��*/
/*����47��*/
.beijing47-6F-yan17{width:960px;}
.beijing47-6F-yan17 .name{ width:960px;}
.beijing47-6F-yan17 .name div{ width:478px;}
.beijing47-6F-yan17 .grid .floor{ margin-left:40px;}
.beijing47-6F-yan17 .footer{ width:960px;}
.beijing47-6F-yan17 .footer .p2{width:520px;}

/*��ʼ����48������Css��ʽ*/
.table-xian-48{width:891px;margin:0 auto;overflow: hidden;}
.table-xian-48 .name{ width:891px; margin-bottom:5px;}
.table-xian-48 .name div{ width:440px;}
.table-xian-48 .grid .floor{ margin-left:56px;}
.table-xian-48 .footer{ width:891px; height:50px; margin:0 auto; margin-top:5px;}
.table-xian-48 .footer .p5{width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-right:1px #000 solid;color:#000;}
.table-xian-48 .footer .p6{width:442px;border-bottom:1px solid;border-top:1px solid;color:#000;}
.table-xian-48 .footer .p7{width:219px;border-top:1px #000 solid;border-bottom:1px #000 solid; border-left:1px #000 solid;color:#000;}
.table-xian-48 .footer .teacher3{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-left:1px solid;color:#000; font-size: 16px; font-weight: bold;}
.table-xian-48 .footer .teacher4{width:219px;background:#6495ED;border-bottom:1px solid;border-top:1px solid; border-right:1px solid;color:#000; font-size: 16px; font-weight: bold;}
/*��������48������Css��ʽ*/